<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key ="connectionString" value ="Data Source=.\SQLEXPRESS;Initial Catalog=Store;Integrated Security=true"/>
		<add key ="parentTable" value ="Departments"/>
		<add key ="childTable" value ="Employees"/>
		
		
		
		<add key ="parentTableAux" value ="Supplier"/>
		<add key ="childTableAux" value ="Products"/>
	</appSettings>
</configuration>